*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(228, 226, 226);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.text{
    padding: 40px;
    background-color: white;
}

.text h1{
    padding-top: 70px;
    padding-bottom: 10px;
    font-size: 3rem;
    font-weight: 600;
}

.image img{
    width: 450px;
    height: 716px;
}

.inputs{
    display: inline-grid;
}

.inputs label{
    padding: 5px 0;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 100;
    font-family: sans-serif;
}

.inputs input{
    width: 510px;
    height: 35px;
    border: 1px solid rgb(154, 154, 154);
    border-radius: 8px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.check{
    display: flex;
}

a{
    color: rgb(31, 124, 182);
}

.check p{
    padding-left: 7px;
    font-size: 15px;
    font-weight: 100;
}

.btn{
    padding: 15px 0;
   padding-left: 35%;
}

.btn button{
    padding: 10px;
    width: 145px;
    background-color: rgb(31, 124, 182);
    border: transparent;
    border-radius: 5px;
    color: white;
}

.or{
    padding-left: 46.5%;
}

.btns{
    padding-left: 30%;
}

.btns button{
    display: flex;
    width: 200.6px;
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(232, 233, 214);
    border: transparent;
    border-radius: 5px;
}

.btns img{
    padding-left: 10px;
}

.btns h4{
    padding-left: 30px;
    color: rgb(0, 0, 0);
    font-weight: 100;
}

.end{
    padding-left: 30%;
    padding-top: 40px;
}